<app-navbar></app-navbar>
<div class="bgbody"></div>
<div class="container">
            <!-- Citas autorizadas -->
            <div class="col-sm-12 mt-4">
                <h3>Citas Bloqueadas</h3>
            </div>
            <div class="col-sm-12">
                
                <ng-container *ngIf="!citasAutorizadas">
                    <br>
                    <mat-spinner style="margin: auto" [diameter]="60"></mat-spinner>
                    <br>
                </ng-container>
                <ng-container *ngIf="!citasAutorizadas == null || citasAutorizadas.length !== 0">
                <ng-container *ngIf="citasAutorizadas">
                    <table mat-table [dataSource]="dataSourceCitasAutorizadas" class="mat-elevation-z8">

                        <!--
                        <ng-container matColumnDef="cgFechaProceso">
                            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                            <td class="text-center" mat-cell *matCellDef="let element">
                                <ng-container *ngIf="getNumberHours(element.fechaAutorizacion) <= 3">
                                    <span class="color-time-green">{{element.fechaAutorizacion }}</span>
                                </ng-container>
                                <ng-container *ngIf="getNumberHours(element.fechaAutorizacion) > 3 && getNumberHours(element.fechaCitaCA) <= 6">
                                    <span class="color-time-yellow">{{element.fechaAutorizacion }}</span>
                                </ng-container>
                                <ng-container *ngIf="getNumberHours(element.fechaAutorizacion) > 6">
                                    <span class="color-time-red">{{element.fechaCfechaAutorizacionitaCA }}</span>
                                </ng-container>
                            </td>
                        </ng-container>  -->

                        <ng-container matColumnDef="DateActive">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cita ID</th>
                            <td mat-cell *matCellDef="let element"> {{element.DateActive}} </td>
                        </ng-container>

                        <ng-container matColumnDef="DateBlocked">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha del Bloqueo</th>
                            <td mat-cell *matCellDef="let element"> {{element.DateBlocked}} </td>
                        </ng-container>

                        <ng-container matColumnDef="UserActive">
                            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Usuario Admin</th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.UserActive.Nombre}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCitasAutorizadas"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCitasAutorizadas;"></tr>
                    </table>
                </ng-container>


                    <mat-paginator #paginatorCitas [pageSizeOptions]="pageSizeOptions" 
                    [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"

                    showFirstLastButtons></mat-paginator> 
                </ng-container>

                <br>
                <ng-container *ngIf="citasAutorizadas == null || citasAutorizadas.length === 0">
                    <br>
                    <p class="text-center">No existen citas bloqueadas</p>
                </ng-container>
            </div>

<br> <br>