<div class="d-sm-none d-md-block d-none d-sm-block">
    <div class="container-fluid serchBg">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-2">
          <div class="text mt-3">
            <p class="mb-0">Gestión</p>
            <h2 class="fonth2">Citas</h2>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="example-form mt-4">
            <mat-form-field class="example-full-width w-6">
              <mat-icon matSuffix>search</mat-icon>
              <input type="text" matInput placeholder="Buscar" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5 mt-4 pr-0 abs-center">
              <p class="text-success">Crear cita</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mt-3 pl-0">
              <button mat-fab class="ml-1 bg-success">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>