  <div class="container">
    <div class="row">
      <div class="col-sm-1 offset-sm-11">
        <!-- <mat-icon (click)="close()">close</mat-icon> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <mat-card>
        <div class="col-sm-12">
          <h2 mat-dialog-title>Gestionar autorización</h2>
        </div>
        <div class="col-sm-12"> 
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="registrarAuto" #myform="ngForm">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Autorizó / no autorizó desde convenio" type="text" formControlName="gauNombreAutorizador">
                  <mat-error *ngIf="registrarAuto.get('gauNombreAutorizador').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauNombreAutorizador').hasError('minlength')">
                    La longitud del texto excede el mínimo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauNombreAutorizador').hasError('maxlength')">
                    La longitud del texto excede el máximo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauNombreAutorizador').hasError('pattern')">
                    No se permite caracteres especiales o ha ingresado el mismo dígito más de 5 veces.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Número de contacto" type="number"
                    formControlName="gauTelefonoAutorizador">
                  <mat-error *ngIf="registrarAuto.get('gauTelefonoAutorizador').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauTelefonoAutorizador').hasError('minlength')">
                    La longitud del texto excede el mínimo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauTelefonoAutorizador').hasError('maxlength')">
                    La longitud del texto excede el máximo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauTelefonoAutorizador').hasError('pattern')">
                    No se permite caracteres especiales o ha ingresado el mismo dígito más de 5 veces.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <mat-label>Se autoriza servicio</mat-label>
                  <mat-select formControlName="gauAutorizaServ">
                    <mat-option value="1">
                      Si
                    </mat-option>
                    <mat-option value="2">
                      No
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="registrarAuto.get('gauAutorizaServ').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-8">
                <mat-form-field class="w-100">
                  <mat-label>Motivo no autoriza</mat-label>
                  <mat-select formControlName="mnaIdcodigo" [disabled]="registrarAuto.get('gauAutorizaServ').value == 1">
                    <mat-option value="1">
                      Copago no realizado
                    </mat-option>
                    <mat-option value="2">
                      Derivación con vigencia vencida
                    </mat-option>
                    <mat-option value="3">
                      Otro
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12">
                <mat-form-field class="w-100">
                  <mat-label>¿Otro motivo?</mat-label>
                  <textarea matInput formControlName="omnDesc"
                            [attr.disabled]="registrarAuto.get('gauAutorizaServ').value == 1 || registrarAuto.get('mnaIdcodigo').value == 1 || registrarAuto.get('mnaIdcodigo').value == 2? '' : null"></textarea>
                </mat-form-field>
                <mat-error *ngIf="registrarAuto.get('gauAutorizaServ').hasError('minlength')">
                  La longitud del texto excede el mínimo permitido.
                </mat-error>
                <mat-error *ngIf="registrarAuto.get('gauAutorizaServ').hasError('maxlength')">
                  La longitud del texto excede el máximo permitido.
                </mat-error>
                <mat-error *ngIf="registrarAuto.get('gauAutorizaServ').hasError('pattern')">
                  No se permite caracteres especiales o ha ingresado el mismo dígito más de 5 veces.
                </mat-error>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Número de autorización" type="text"
                    formControlName="gauCodigoAutorizacion">
                  <mat-error *ngIf="registrarAuto.get('gauCodigoAutorizacion').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCodigoAutorizacion').hasError('minlength')">
                    La longitud del texto excede el mínimo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCodigoAutorizacion').hasError('pattern')">
                    No se permite caracteres especiales o ha ingresado el mismo dígito más de 5 veces.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Número de póliza" formControlName="numeroPoliza">
                  <mat-error *ngIf="registrarAuto.get('numeroPoliza').hasError('minlength')">
                    La longitud del texto excede el mínimo permitido.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput class="date-picker-form" [matDatepicker]="picker" placeholder="Fecha autorización"
                         [min]="minDate" [max]="maxDateAuto" formControlName="gauFechaAutorizacion" (dateChange)="updateCalcs()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker [disabled]="'false'"></mat-datepicker>
                  <mat-error *ngIf="registrarAuto.get('gauFechaAutorizacion').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput class="date-picker-form" [matDatepicker]="pickers" placeholder="Fecha vencimiento"
                         [min]="minDate" [max]="maxDateAuto" formControlName="gauFechaVencAutorizacion" (dateChange)="updateCalcs()">
                  <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #pickers [disabled]="'false'"></mat-datepicker>
                  <mat-error *ngIf="registrarAuto.get('gauFechaVencAutorizacion').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput class="date-picker-form" placeholder="Vigencia autorización (días)" formControlName="gauVigenciaAutorizacion" type="number">
                  <mat-error *ngIf="registrarAuto.get('gauVigenciaAutorizacion').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Valor procedimiento" currencyMask type="text" formControlName="gauValorPrestacion">
                  <mat-error *ngIf="registrarAuto.get('gauValorPrestacion').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauValorPrestacion').hasError('pattern')">
                    El campo solo permite números.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauValorPrestacion').hasError('maxlength')">
                    La longitud del texto excede el máximo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauValorPrestacion').hasError('min')">
                    El valor mínimo es 0.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Costo convenio" type="text" formControlName="gauCostoConvenio">
                  <mat-error *ngIf="registrarAuto.get('gauCostoConvenio').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCostoConvenio').hasError('pattern')">
                    El campo solo permite números con una longitud de 10 caracteres y no pueden ser repetidos.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCostoConvenio').hasError('maxlength')">
                    La longitud del texto excede el máximo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCostoConvenio').hasError('min')">
                    El valor mínimo es 0.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                  <input class="date-picker-form" matInput placeholder="Costo paciente" type="text" formControlName="gauCostoPac">
                  <mat-error *ngIf="registrarAuto.get('gauCostoPac').hasError('required')">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCostoPac').hasError('pattern')">
                    El campo solo permite números.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCostoPac').hasError('maxlength')">
                    La longitud del texto excede el máximo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauCostoPac').hasError('min')">
                    El valor mínimo es 0.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-10">
                <mat-form-field class="w-100">
                  <mat-label>Observaciones</mat-label>
                  <textarea matInput formControlName="gauObservaciones"></textarea>
                  <mat-error *ngIf="registrarAuto.get('gauObservaciones').hasError('minlength')">
                    La longitud del texto excede el mínimo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauObservaciones').hasError('maxlength')">
                    La longitud del texto excede el máximo permitido.
                  </mat-error>
                  <mat-error *ngIf="registrarAuto.get('gauObservaciones').hasError('pattern')">
                    No se permite caracteres especiales o ha ingresado el mismo dígito más de 5 veces.
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- <div class="col-sm-6 offset-sm-4 mt-4 mb-4">
                <section class="example-section">
                  <mat-checkbox formControlName="enviarCorreo">Enviar correo electrónico al paciente?
                  </mat-checkbox>
                </section>
              </div> -->
            </div>
            <div class="row justify-content-center text-center mb-4">
              <div class="col-sm-12 col-md-12 col-lg-4">
                <button mat-raised-button class="buttonCA-second mr-4" type="button" (click)="close()">VOLVER</button>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <button mat-raised-button class="buttonCA-second mr-4" type="button" (click)="limpiar()">LIMPIAR</button>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <button mat-raised-button class="buttonCA primary ml-3" [disabled]="registrarAuto.invalid || !validDates" >GUARDAR</button>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
